.info {
    margin-right: 35%;
    margin-left: 35%;
}

fieldset {
    background-color: #222C3C;
    border-color: #EBC729;
}

#data-adjust {
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%;

    height: 100%;
    border: 1px solid #EBC729;
    background-color: #222C3C;
    border-radius: 10px;
}

#subBut {
    padding-top: 5%;
    padding-bottom: 5%;
}

.cavList {
    list-style-type: none;
}